@model ClassPlustMVC.Models.Enrollment

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to drop this course?</h3>
<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.TeacherId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.TeacherId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EnrollmentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
